<h1><%= controller_name.titleize %></h1>
<%- @docs.each do |action_name,doco| -%>
  <div class='action_title'><%= action_name.to_s.titleize %></div>
  <div class='action_description'><%= doco.description %></div>
  <%- if doco.params.any? -%>
    <table>
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Value</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%- doco.params.each do |name, param| %>
          <tr>
            <td><%= name %></td>
            <td><%= (param[:values] || param[:example_values]).try(:first) %></td>
            <td><%= param[:type] %></td>
            <td><%= param[:description] %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  <%- end -%>
<%- end -%>
