<div class='row-fluid"'>
  <div class='span12'>
    <h1><%= controller_name.titleize %></h1>
    <%- @docs ||= ::ApiCanon::DocumentationStore.fetch controller_name -%>
    <%- @docs.each do |action_name,doco| -%>
      <div class='row-fluid"'>
        <div class='span12'>
          <% doco_prefix = "#{doco.controller_name}_#{doco.action_name}" %>
          <% if Rails.version.starts_with?('2') %>
            <%= render :partial => 'api_canon/rails_2_form', :locals => {:doco => doco, :doco_prefix => doco_prefix} %>
          <% else %>
            <%= render :partial => 'api_canon/form', :locals => {:doco => doco, :doco_prefix => doco_prefix} %>
          <% end %>
          <div id='<%= "#{controller_name}_#{action_name}_results" %>' class='results'>
            <div class='urls'></div>
            <div class='curls'></div>
            <div class='response'></div>
          </div>
        </div>
      </div>
    <%- end -%>
  </div>
</div>

<script type='text/javascript'>
  function generate_url_and_call_it(controller_name, action_name) {
    var form = jQuery('#' + controller_name + '_' + action_name + '_form');
    var api_url_request = form.attr('action');
    var post_request = jQuery.post(api_url_request, form.serialize());
    post_request.done(function(data) {
      var urls_div = jQuery('#' + controller_name + '_' + action_name + '_results div.urls')
      var curls_div = jQuery('#' + controller_name + '_' + action_name + '_results div.curls')
      var response_div = jQuery('#' + controller_name + '_' + action_name + '_results div.response')
      //urls_div.html('<p>URLs generated: </p>');
      curls_div.html('<p>Curl requests generated: </p>');
      //jQuery.each(data['urls'], function(key,value) {urls_div.append(key.toUpperCase() + ': <pre>' + value + '</pre>')});
      jQuery.each(data['curl'], function(key,value) {curls_div.append(key.toUpperCase() + ': <pre>' + value + '</pre>')});
      jQuery.each(data['urls'], function(key,value) {if (key == 'get') {jQuery.get(value).done(function(data) {window.data=data;response_div.html('<p>Response: </p><pre>' + JSON.stringify(eval(data), undefined, 2) + '</pre>')});}});
    });
    return false;
  }
</script>

<% content_for :sidebar do %>
<ul class='nav nav-list'>
  <% ApiCanon::DocumentationStore.instance.docos.each do |key, doco| %>
    <li><%= link_to doco.first.last.controller_path, url_for(:controller => doco.first.last.controller_path, :action => :index, :format => :html) %></li>
  <% end %>
</ul>
<% end %>
