<% form_for :doco, :url => api_canon_test_path, :html => {:id => "#{doco.controller_name}_#{doco.action_name}_form"} do |f| %>
  <%= f.hidden_field :action_name, :value => doco.action_name %>
  <%= f.hidden_field :controller_name, :value => doco.controller_name %>
  <%= f.hidden_field :controller_path, :value => doco.controller_path %>
  <h2><%= doco.action_name.to_s.titleize %></h2>
  <p class='lead'><%= doco.description %></p>
  <%- if doco.params.any? -%>
    <table class='table table-striped table-bordered'>
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Value</th>
          <th>Example Values</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%- doco.params.each do |name, param| %>
          <tr>
            <td><%= name %></td>
            <td><%= param.to_field(f, doco_prefix) %></td>
            <td><%= param.example_values_field(f, doco_prefix) %></td>
            <td><%= param.type %></td>
            <td><%= param.description %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  <%- end -%>
  <%= f.submit "Test", :onclick => "generate_url_and_call_it('#{doco.controller_name}', '#{doco.action_name}'); return false;", :class => 'btn' %>
<% end %>
